/* styles.css */

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container select,
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .form-container .form-check {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
  }
  .form-container .form-check input {
    margin-right: 5px;
    /* Adjust the width and height for the radio buttons */
    width: 16px;
    height: 16px;
  }
  
  .form-container .form-check label {
    margin-right: 5px;
    font-size: 14px; /* Adjust the font size as needed */
  }
  .form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  